/*Trabajamos los elementos dentro del Header*/
.headerPrincipal,
.container {
    display: flex;
    align-items: center;  /*Con flex, los ele se alinean verticalmente centrados */
    justify-content: space-between;
}

.headerPrincipal-nav {
    display: flex;
}

/*Aplicamos a mapa de cursos*/
.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;  /*default es row: Coloca los ele uno al lado del otro y column: uno debajo del otro*/
    height: 255px;  /*Altura de cada columna = 250px*/
    flex-wrap: wrap;  /*wrap: Quebrar el contenido cada 250px, coloca al lado la siguiente columna (horizontalmente)*/
    column-gap: 30%;  /*Separar las columnas mediante espacios*/
}

/*Aplicamos un margen para alinear*/
.containerProductos {
    margin-left: 8%;
}

/*Aplicamos al contenido de cursos*/
.contenidoPrincipal-productos {
    display: flex;
    flex-wrap: wrap;
}

.contenidoPrincipal-producto-link {
    display: flex;
    width: 20%;
}

footer {
    background-color: #0f0f0f;
    color: black;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    margin: 20px;
}

/*--------------Responsive para table(768), mobile(576)--------------------*/
@media(max-width:768px) {
    .headerPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .headerPrincipal-nav {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .containerCursos {
        margin-left: 0%;
    }

    .contenidoPrincipal-productos {
        flex-direction: column;
    }

    .contenidoPrincipal-producto-link {
        width: 100%;
    }
   
    .rodapePrincipal-navMap-list {
        height: auto;
        flex-wrap: nowrap;
    }

    .headerPrincipal-nav-link-app {
        order: -1;  /*-1: Permite colocar de primeras 'Nuestra App' en el menu del Header*/
    }
}