<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Global TIC | Mi Tienda</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/flexbox.css">
</head>
<body>

	<header className="headerPrincipal">
		<div className="container">
			<h1 className="headerPrincipal-titulo">
				<a href="#">Mi tienda</a>
			</h1>

			<nav className="headerPrincipal-nav">
				<a className="headerPrincipal-nav-link" href="#">Home</a>
				<a className="headerPrincipal-nav-link" href="#">Fecha</a>
				<a className="headerPrincipal-nav-link" href="#">Categoria</a>
			</nav>
		</div>

	</header>

	<main className="contenidoPrincipal">
		<div className="containerProductos">
			<h2 className="subtitulo">Lista de Productos</h2>

			<nav>
				<ul className="contenidoPrincipal-productos">
					<li className="contenidoPrincipal-producto-link"><a href="#">Iphone 14</a></li>
					<li className="contenidoPrincipal-producto-link"><a href="#">Samsung</a></li>
					<li className="contenidoPrincipal-producto-link"><a href="#">Xiomi</a></li>
					<li className="contenidoPrincipal-producto-link"><a href="#">Motorola</a></li>
					<li className="contenidoPrincipal-producto-link"><a href="#">Nokia</a></li>
					<li className="contenidoPrincipal-producto-link"><a href="#">Acne</a></li>
					<li className="contenidoPrincipal-producto-link"><a href="#">Samsung 2</a></li>
					<li className="contenidoPrincipal-producto-link"><a href="#">Caterpillar</a></li>
					<li className="contenidoPrincipal-producto-link"><a href="#">Motorola 11</a></li>
					<li className="contenidoPrincipal-producto-link"><a href="#">Iphone 11</a></li>
					<li className="contenidoPrincipal-producto-link"><a href="#">Samsung Y14</a></li>
					<li className="contenidoPrincipal-producto-link"><a href="#">Xiomi 11</a></li>
				</ul>
			</nav>
		</div>
	</main>

	<footer className="rodapePrincipal">
		<section className="footer">
			<div className="container">
				<p className="copyright">&copy;Copyright Global Tic Software - 2022</p>
			</div>
		</section>
	</footer>

</body>
</html>