<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="Sitio web tienda virtual Mi tienda" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
        <link rel="stylesheet" href="./css/style.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>
        <!-- Datatables -->
        <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.css">
        <script src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title>Mi tienda</title>
    </head>
    <body className="container-fluid p-5">
        <header className="headerPrincipal">
            <div className="container">
                <nav className="navbar navbar-light bg-light">
                    <a className="navbar-brand" href="#">
                        <img src="./images/globaltic.jpg" width="35" height="35" className="d-inline-block align-top"
                            alt="Logo Global TIC 4"></img>
                    </a>
                </nav>
                <h1 className="headerPrincipal-titulo">Mi tienda</h1>
            </div>
            <div className="container1">
                <div className="input-group">
                    <input type="text" id="search_field" className="form-control" placeholder='Que producto busca?'></input>
                    <div className="input-group-append">
                        <button id="searchbtn" className="btn">
                            <i className="fa fa-search-plus fa-2x text-white" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <nav className="headerPrincipal-nav">
                    <div className="btn-group" role="group" aria-label="Basic example">
                        <div>
                            <a href="#" className="btn btn-outline-secondary btn-sm ">Home</a>
                        </div>
                        <div>
                            <a href="#" className="btn btn-outline-secondary btn-sm ">Categoria</a>
                        </div>
                        <div>
                            <a href="#" className="btn btn-outline-secondary btn-sm ">Fecha</a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <h2 className="subtitulo">Detalle de Ventas</h2>
        <div className="table-responsive" id="mydatatable-container">
            <table className="records_list table table-striped table-bordered table-hover" id="mydatatable">
                <thead>
                    <tr>
                        <th>Tipo de Producto</th>
                        <th>Categoria de Producto</th>
                        <th>Marca del Producto</th>
                        <th>Nombre del Producto</th>
                        <th>Cantidad de Producto Vendido</th>
                        <th>Valor de Producto Vendido</th>
                        <th>Fecha de Venta</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                        <th>Filter..</th>
                    </tr>
                </tfoot>
                <tbody>
                   <tr>
                        <td>Telefono</td>
                        <td>Alta</td>
                        <td>Apple</td>
                        <td>Iphone 14 Pro Max</td>
                        <td>10</td>
                        <td>3000000</td>
                        <td>20221001</td>
                    </tr>
                    <tr>
                        <td>Telefono</td>
                        <td>Media</td>
                        <td>Samsung</td>
                        <td>Galaxy 10</td>
                        <td>8</td>
                        <td>2500000</td>
                        <td>20221002</td>
                    </tr>
                    <tr>
                        <td>Telefono</td>
                        <td>Baja</td>
                        <td>Xiaomi</td>
                        <td>Mi 14</td>
                        <td>6</td>
                        <td>2300000</td>
                        <td>20221003</td>
                     </tr>
                </tbody>
            </table>
        </div>
        <style>
            #mydatatable tfoot input{
                width: 100% !important;
            }
            #mydatatable tfoot {
                display: table-header-group !important;
            }
        </style>    
        <script type="text/javascript">
            $(document).ready(function() {
                $('#mydatatable tfoot th').each( function () {
                    var title = $(this).text();
                    $(this).html( '<input type="text" placeholder="Filtrar.." />' );
                } );
            
                var table = $('#mydatatable').DataTable({
                    "dom": 'B<"float-left"i><"float-right"f>t<"float-left"l><"float-right"p><"clearfix">',
                    "responsive": false,
                    "language": {
                        "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                    },
                    "order": [[ 0, "desc" ]],
                    "initComplete": function () {
                        this.api().columns().every( function () {
                            var that = this;
                            $( 'input', this.footer() ).on( 'keyup change', function () {
                                if ( that.search() !== this.value ) {
                                    that
                                        .search( this.value )
                                        .draw();
                                    }
                            });
                        })
                    }
                });
            });
        </script>
        <footer className="rodapePrincipal-navMap-list">
            <section className="footer">
                <div>
                    <p className="copyright">&copy;Copyright Global Tic Software - 2022</p>
                </div>
            </section>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </body>
</html>        